.banner-full {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
.banner {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;
    
    }
.banner-imagem{
    display:flex;
    justify-content: center;
}
.banner-imagem img {
    bottom: 0;
    max-width: 80vw;
    height: auto;
    flex: 1 1 300px;
}
.banner-texto {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5vw;
    margin-bottom: 10vh;
    flex: 1 1 300px;
    line-height: 1.6;
}

.banner-texto p{
    font-size: 3rem;
}
@media all and (max-width: 365px){
    .banner-texto p{
        font-size: 1rem;
    }
    .destaque{
        font-size: 1.5rem;
    }
} 
@media all and (max-width: 575px){
    .banner-texto p{
        font-size: 1.5rem;
    }
    .destaque{
        font-size: 2.5rem;
    }
}
@media all and (max-width: 999px){
    .banner-texto {
        text-align: center;
        align-items: center;
    }
}